[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-auth = "==0.9.5"
django-allauth = "==0.38.0"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "python manage.py runserver 127.0.0.1:8844"
make = "python manage.py makemigrations"
migrate = "python manage.py migrate"
